Source: phpmemcachedadmin
Maintainer: Matthias Blümel <blaimi@blaimi.de>
Section: misc
Priority: extra
Standards-Version: 3.9.6
Build-Depends: debhelper (>=9),
 po-debconf
Homepage: https://code.google.com/p/phpmemcacheadmin/

Package: phpmemcachedadmin
Architecture: all
Depends: php5-memcached | php5-memcache,
 ${misc:Depends}
Recommends: apache2 | lighttpd | httpd,
 memcached | memcache
Suggests: www-browser
Description: Graphic administration for memcached to monitor and debug
 This program allows one to see in real-time (top-like) or from the start of the
 server, stats for get, set, delete, increment, decrement, evictions,
 reclaimed, cas command, as well as server stats (network, items, server
 version) with googlecharts and server internal configuration
 .
 You can go further to see each server slabs, occupation, memory wasted and
 items (key & value).
 .
 Another part can execute commands to any memcached server : get, set, delete,
 flush_all, as well as execute any commands (like stats) with telnet
 .
 To extract this information, phpMemcacheAdmin uses, as you wish, direct
 communication with server, PECL Memcache or PECL Memcached API.
